@media (max-width: 800px) {
  .icon-menu .menu {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav a {
    display: none;
  }

  #barra-menu {
    height: 100vh;
  }

  .c-icon {
    background-color: rgb(189, 8, 8);
    color: white;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 30px;
    width: 130px;
    text-align: center;
    transition: 0.3s;
  }

  .esconder {
    display: none;
  }

  .c-icon:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 700px) {
  body {
  background-image: url(../imagens/background-mobile2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    
    
  }

  .background{
    max-width: 400px;
  }

  nav h2 {
    font-size: 35px;
  }

  h1 {
    font-size: 40px;
    display: inline;
  }

  @media(max-width:395px){
    h1{
      font-size: 35px;
    }

    h3{
      font-size: 25px;
    }

    @media(max-width:354px){
      h1{
        font-size: 25px;
      }

      h3{
        font-size: 18px;
      }

      .contatos{
        margin-right: 0px;
      }
    }
  }

  /* Sobre */

  .main-sobre {
    display: flex;
    flex-direction: column-reverse;
  }

  .txt-sobre {
    height: 350px;
    width: 350px;
  }

  .txt-sobre h2 {
    font-size: 30px;
  }

  .txt-sobre p {
    font-size: 9px;
    padding: 0;
    margin-left: 0px;
  }

  /* Projetos */

  .album-projetos {
    margin-right: 0px;
  }

  /* Habilidadeds */

  .habilidades {
    width: 340px;
    height: 600px;
  }

  .habilidades p {
    padding-bottom: 20px;
  }
}
